        <% include header %>
        <li id="page_comparison">
         <a class="leftbox" >
            <span class="txt1" id="totalC">Total campus consumption<br /></span>
            <span class="x1"></span>
          </a>
          <div class="box">
          <div class="clear"></div>
            <div class="col1C">
                <div class="bx-title">
                  <p style="text-align:center">Comparisons</p>
                </div>
                <ul id="tabs" class="comp">
                    <li><a href="#" name="tab1">Academic/Service</a></li>
                    <li><a href="#" name="tab2">Residence</a></li>   
                </ul>
                <div id="contentC">
                    <div class="sc_menuC" id="tab1" >
                      
                    </div>
                    <div class="sc_menuC" id="tab2">

                    </div>
                </div>
            </div>
            <span class="clear">
                    </span>
          <div class="col2C">
            <div id="chart_1" style="width:745px; height:425px" ></div>
          </div>
          
          </div>
        </li>
        <% include footer %>