<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>AED</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.7.2.min.js"><\/script>')</script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="js/skins/square/green.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
    <!-- <link rel="stylesheet" href="css/jquery.jscrollpane.lozenge.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="css/jquery.bxslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jquery-ui-1.9.2.custom.css" type="text/css" media="screen" />

    <link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" />

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
      
    </script>
  </head>
  <body>
    <div class="infoBox">
            <p>Version: <i><%= ver %> BETA <%= env %></i> </p>
    </div>
    
    <div class="spinner"></div>
    <div class="extra">
        <div class="main1"></div>
        <div class="main2">
        
        <div class="grad1"></div>
        <div id="clockbox"></div>
        
        <!--  Header  -->
        <header>
            <a href="#" class="logo">
                <img src="images/logo.png">
                <div class="txt1">Acadia University</div>
                <div class="txt2">Energy Dashboard</div>
            </a>
        </header>
    
       
        <!-- Mid Section -->
        <div class="mid">
        <div id="mid_text">
          <p>Welcome to the Acadia University Energy Dashboard. As part of Acadia’s commitment to sustainability, this program was developed to display real-time energy use in all campus facilities to help raise awareness about energy consumption and encourage energy conservation. Here you can view energy usage in each building, challenge another building in a friendly competition to improve performance, and learn more about green initiatives at Acadia and how you can help. The Acadia Energy Dashboard was developed in partnership by the Arthur Irving Academy for the Environment, The Department of Computer Science, the Department of Facilities and Physical Plant Services.</p>
        </div>
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="images/image1.jpg" title="Acadia Campus" alt=""></img>
                <img src="images/image5.jpg" title="Fountain Commons" alt=""></img>
                <img src="images/image3.jpg" title="Acadia Farm ... Harvest Time!" alt=""> </img>
                <img src="images/image4.jpg" title="Residence Commons" alt="" ></img>
            </div>
        </div>
        <div class="contact"><p>Contact Information:<br/> <a href="mailto://jodie.noiles@acadiau.ca" >jodie.noiles@acadiau.ca</a></p></div>
    </div>
        <!-- Menu  -->
        <nav class="menu">
            <ul id="menu">
            <li>
                <span class="shadow"></span>
                    <a href="#!/page_SPLASH">
                    <span class="image">
                        <img src="images/icon5.png"></img>
                    </span>
                    <span class="txt1">HOME</span>
                    <span class="over">
                        <span class="corner1"></span>
                        <span class="bg"></span>
                        <span class="corner2"></span>
                    </span>
                    <span class="clear"></span>
                </a>
            </li>
            <li>
                <span class="shadow"></span>
                    <a href="#!/page_map">
                    <span class="image">
                        <img src="images/icon6.png"></img>
                    </span>
                    <span class="txt1">CAMPUS MAP</span>
                    <span class="over">
                        <span class="corner1"></span>
                        <span class="bg"></span>
                        <span class="corner2"></span>
                    </span>
                    <span class="clear"></span>
                </a>
            </li>

            <li>
                <span class="shadow"></span>
                <a href="#!/energy_use">
                    <span class="image">
                        <img src="images/icon2.png"></img>
                        </span>
                        <span class="txt1">ENERGY USE</span>
                        <span class="over">
                            <span class="corner1"></span>
                            <span class="bg"></span>
                        <span class="corner2"></span>
                    </span>
                    <span class="clear"></span>
                </a>
            </li>

            <li>
                <span class="shadow"></span>
                <a href="#!/page_comparison">
                    <span class="image">
                        <img src="images/icon4.png"></img>
                    </span>
                    <span class="txt1">COMPARISONS</span>
                    <span class="over">
                        <span class="corner1"></span>
                        <span class="bg"></span>
                        <span class="corner2"></span>
                    </span>
                </a>
                <span class="clear"></span>
            </li>

            <li>
            <span class="shadow"></span>
                <a href="#!/page_competition">
                    <span class="image">
                        <img src="images/icon3.png"></img>
                    </span>
                    <span class="txt1">COMPETITIONS</span>
                    <span class="over">
                        <span class="corner1"></span>
                        <span class="bg"></span>
                        <span class="corner2"></span>
                    </span>
                    <span class="clear"></span>
                </a>
            </li>
            <li>
            <span class="shadow"></span>
                <a href="#!/page_green">
                    <span class="image">
                        <img src="images/icon1.png"></img>
                    </span>
                    <span class="txt1">GO GREEN</span>
                    <span class="over">
                        <span class="corner1"></span>
                        <span class="bg"></span>
                        <span class="corner2"></span>
                        </span>
                    <span class="clear"></span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="sh1"></div>
    <div class="cc"><p>© 2014 Acadia University. Wolfville, Nova Scotia, Canada</p></div>
  <!-- Pages contents  -->
    <article id="content">
    <ul>  
      <li id="page_SPLASH"></li>
      
      
      
        <li id="page_map">
            <a class="leftbox" >
                <span class="txt1" id="totalM">Total campus consumption<br /></span>
                <span class="x1"></span>
              </a>
              <span class="clear"></span>
            <div class="box" >
            <div class="clear"></div>
            <div id="map" style="width:980px; height:430px; margin-left: -40px; margin-top: -38px;"></div>
          </div>
        </li>

        <li id="energy_use">
          <a class="leftbox" >
            <span class="txt1" id="totalE">Total campus consumption<br /></span>
            <span class="x1"></span>
          </a>

          <div class="box">
          <div class="clear"></div>
            <div class="col1E">
              <div class="bx-title">
                <p>Electricity Consumption</p>
              </div>
              <ul id="tabs" class="elect">
                  <li><a href="#" name="tab1">Academic/Service</a></li>
                  <li><a href="#" name="tab2">Residence</a></li>   
              </ul>
              <div id="contentE">
                <div class="sc_menu" id="tab1" >
                  </div>
                  <div class="sc_menu" id="tab2">
                  </div>
                </div>
            </div>       
            <div class="midBox">
              <img src="images/CampusAerial.jpg"></img>
            </div>
            <div class="el" >
              <!-- <button id="switch">FLIP</button> -->
              <div id="spin" class="spin" style="display:none;">
                <p></p>
                <img id="img-spinner" src="images/pleasewait.gif" alt="Loading"/>
              </div>
              <div class="graph-name"><p></p></div>
              <div class="col2">
                <p id="noData">no data available at this time :(</p>
                <div class="graph-name"><p></p></div>
                <div id="buttons">
                  <p>Timeline: 
                    <button id="today" class="ui-state-highlight">Today</button>
                    <button id="yesterday" class="ui-state-highlight">Yesterday</button>
                    <button id="week" class="ui-state-highlight">Week</button> 
                    <button id="month" class="ui-state-highlight">Month</button> 
                    <button id="year" class="ui-state-highlight">Year</button>
                    <a style="float:right; margin-top:5px; margin-right: 10px;" href="#" title="Greenhouse Gas Protocol Initiative methodology is used to calculate GHG emissions estimates for Acadia University. Nova Scotia GHG emissions factors are provided by Nova Scotia Power Inc. Current GHG emissions are calculated using the Nova Scotia emissions factor for the most recent year since emissions factors are not released"><img src="images/info.png"></a>
                  </p>
                </div>
                <div id="container" style="width:565px; height:335px"></div> 
              </div>
              <div class="col3">
                <div id="r-img" ></div>
                <div class="total-box">
                  <p id="head">CONSUMPTION SUMMARY</p>
                  <div id="num1">0</div>
                  <p id="kwh"></p>
                  <div id="num2">0</div>
                  <p id="ghg"></p>
                </div>
                
                <div class="builProfile">
                    <p id="head">BUILDING PROFILE</p>
                    <p id="info"></p>
                </div>
              </div>
            </div>
          </div>
          <span class="clear"></span>
      </li>


      <li id="page_comparison">
         <a class="leftbox" >
            <span class="txt1" id="totalC">Total campus consumption<br /></span>
            <span class="x1"></span>
          </a>
          <div class="box">
          <div class="clear"></div>
            <div class="col1C">
                <div class="bx-title">
                  <p style="text-align:center">Comparisons</p>
                </div>
                <ul id="tabs" class="comp">
                    <li><a href="#" name="tab1">Academic/Service</a></li>
                    <li><a href="#" name="tab2">Residence</a></li>   
                </ul>
                <div id="contentC">
                    <div class="sc_menuC" id="tab1" >
                      
                    </div>
                    <div class="sc_menuC" id="tab2">

                    </div>
                </div>
            </div>
            <span class="clear">
                    </span>
          <div class="col2C">
            <div id="chart_1" style="width:745px; height:425px" ></div>
          </div>
          
          </div>
        </li>
        <li id="page_competition">
           <p style="font-size:30px; margin-left:35%;"><b>
                COMING SOON!
              </b>
              </p>
        </li>
        <li id="page_green">
           <p style="font-size:30px; margin-left:35%;"><b>
                COMING SOON!
              </b>
              </p>
        </li>
        <li id="info_page">
            <div id="contact"></div>
            <p>
            </p>
        </li>

      
      </ul>
  </div>
  </div>
</div>

</body>
</html>