/*@import "reset.css";*/
@import "prettyPhoto.css";

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Left & Right alignment */

.left { float:left;}
.right { float:right;}
.clear {clear:both;}
.table {display:table;}
.wrapper {width:100%; overflow:hidden;}
.relative {position:relative;}
.absolute {position:absolute;}

aside {
    position: relative;  
}

aside h3 {
    background: #369;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
}

/* Class name via Modernizr */
.csstransforms aside {
    border-left: 34px solid #369;
    
    /* Make a little room */
    padding-left: 10px;
}
.csstransforms aside h3 {

    /* Abs positioning makes it not take up vert space */ 
    position: absolute;
    top: 0;
    left: 0;
    
    /* Border is the new background */
    background: none;
    
    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;
    
    -webkit-transform: rotate(90deg); 
    -moz-transform:    rotate(90deg); 
    -ms-transform:     rotate(90deg); 
    -o-transform:      rotate(90deg); 
}


/* Global properties ======================================================== */
body, html { width:100%; height:100%;}

body { 
/*   background:#3d5006;   */
  background:url(../images/SDC10565.jpg) 30% 30% no-repeat; 
  border:0; 
  font: 12px Tahoma, Verdana, sans-serif; 
  color:#161616 ; 
  line-height:18px; 
  min-width:1000px; 
  position:relative; 
  overflow:hidden !important;
  min-height: 100%;
}

.cc {
	margin-top: 585px;
	margin-left: 900px;
	font-size: 8px;
	width: 100px;
	color: wheat;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

.spinner { 
  position:absolute; 
  z-index:99; 
  background:url(../images/WordsSpinner.gif) 50% 50% no-repeat #000000;
  width:100%; 
  height:100%; 
  top:0; 
  left:0
}

.spin {
    position: absolute;
    /*background-color: black;*/
    top: 20%;
    left: 45%;
    opacity: 0.7;
    /*margin-left: -50px;  half width of the spinner gif */
    /*margin-top: -50px;  half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    /*box-shadow: 0px 0px 2px white;*/
    width: 250px; /* width of the spinner gif */
    height: 170px; /*hight of the spinner gif +2px to fix IE8 issue */
}
.spin p {
	color: black;
	font-size: 17px;
	font-weight: bold;
}
.extra {
  min-width:1000px;
  min-height:100%; 
  height:auto !important; 
  height:655px; 
  margin: 0 auto 0px; 
  overflow:hidden; 
  position:relative; 
  z-index:10; 
}


.main1 { 
  width:100%;
/*   background:#21610B;  */
  height:100%; 
  position:relative; 
  z-index:1;
}

.main2 { 
  width:1000px; 
  background:black;  
  opacity:0.9;
  box-shadow: 0px 0px 30px black;
  height:630px; 
  position:absolute; 
  left:50%; 
  margin-left:-500px; 
  top:55%;  
  margin-top:-340px;  
  z-index:2;
}

.infoBox {
	position: fixed;
	display: none;
	width: 100%;
	height: auto;
	/*margin-top: 10px;*/
	/*margin-left: 15px;*/
	/*border-radius: 5px;*/
	/*border-width: 2px;*/
	/*border-color: grey;*/
	background-color: black;
	opacity: 0.8;
}
.infoBox p {
	padding: 0px 5px 0px 5px;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
#clockbox {
	font-family: sans-serif;
	/* width: 191px; */
	/* height: auto; */
	position: absolute;
	/* background: white; */
	font-size: 10px;
	border-radius: 2px;
	left: 825px;
	top: -5px;
	z-index: 11;
	/* border: 2px rgb(79, 79, 79) solid; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 0px 0px 0px 5px;
	font-weight: bolder;
	opacity: 0;
	color: white;
	/*display: none;*/
}
#about {
	font-family: sans-serif;
	width: 55px;
	height: 25px;
	position: absolute;
	background: white;
	font-size: 16px;
	left: 65px;
	z-index: 11;
	border: 2px rgb(79, 79, 79);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	padding: 0px 0px 0px 5px;
	font-weight: bolder;
	/*text-decoration:none !important;*/
	top: 25px;
}
#info_page {
	width: 505px !important;
}
.contact {
	width: auto;
	height: auto;
	float: right;
	letter-spacing: 0.0863em;
	font-size: 0.633em;
	margin-top: -6px;
	margin-right: 10px;
}

header { 
	width:1000px; 
	position:absolute; 
	left:0; 
	top:63px; 
	z-index:9; 
	/*text-align:center; */
}

.logo { 
	display:inline-block;
	text-decoration:none;
	margin-left: 65px;
}
.logo .txt1 {
	margin-left: 60px;
	margin-top: -75px;
	font-family:'BebasNeueRegular'; 
	font-size:45px; 
	line-height:89px; 
	color:#fffcf3; 
	text-decoration:none; 
	text-transform:uppercase;
}
.logo .txt2 { 
	margin-left: 60px;
	margin-top: -30px;
	font-family:'BebasNeueRegular'; 
	font-size:20px; 
	line-height:24px; 
	color:#fff; 
	text-decoration:none; 
	text-transform:uppercase;
}

.grad1 { 
	width:400px; /*806*/ 
	height:148px; /*591*/
	background:url(../images/grad1.png) 0 0 no-repeat; 
	position:absolute; 
	left:20px; /*135 */
	top:-150px; 
	z-index:1;
}


/* ============================= main menu ====================== */

.menu {
	height:90px; 
	position:absolute; 
	left:0px; 
	top:520px; 
	z-index:2;
}

#menu { 
	position:relative;
}

#menu > li { 
	display:block; 
	height:80px; 
	float:left; 
	position:relative; 
	margin-left:10px;
}

#menu > li > a {
	display: inline-block; 
	width:100px;  
	height:-80px; 
	/*margin-top: -50px;*/
	text-decoration:none; 
	text-align:center; 
	overflow:visible; 
	padding:0 15px; 
	position:relative; 
}
#menu > li > a > .image { 
	display: block;
	width:100%; 
	height:45px; 
	/*margin-top:-5px;*/
}
#menu > li > a > .image img {
	width:45px; 
	height:45px;
	float:center; 
	}
#menu > li > .shadow {
	display:block; 
	float:center; 
	z-index:1; 
	width:100%; 
	height:25px; 
	-moz-border-radius: 10px;
	border-radius: 10px; 
	background:#abc127; 
	/*box-shadow:inset 0 0 50px #abc127; */
	position:absolute; 
	left:0px; 
	top:53px;
}
#menu > li > a .txt1 { 
	display:block; 
	position:relative; 
	height:25px; 
	z-index:2; 
	left:0; 
	top:10px; 
	/*font-family:'sans-serif'; */
	text-align:center; 
	font-size:14px; 
	color:#f3ffc7; 
	text-shadow:0px 0px 5px #000;
}
#menu > li > a .over { 
	display:block; 
	width:100%; 
	/*height:150px; */
	position:absolute; 
	left:0; 
	top:0; 
	z-index:1;
	/*background:#ffad00;*/
}

#menu > li > a:hover , #menu > li.active > a, #menu > li.sfHover > a { text-decoration:none; color:#e6f775;}


/*============================== mid text =======================*/
.mid {
	display:inline-block;
	overflow:hidden;
	position:absolute;
	width:900px;
	height:345px;
	top:180px;
	left:50px;
	background: url(../images/grass.jpg) 0 0 no-repeat;
	/*opacity:0.7;*/
	border-radius: 10px;
}
.slider-wrapper { 
	margin-top: 20px;
	margin-left: 480px;
}
.theme-default #slider {
/* 	margin:auto auto auto auto;  */
	box-shadow: 0px 2px 5px 3px black;
    width:400px; /* Make sure your images are the same size */
    height:275px; /* Make sure your images are the same size */

}
.nivo-caption { 
   
   font-family:'BebasNeueRegular' !important; 
 }
#mid_text {
	position: absolute;
	width: 450px;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 100%;
	/*font-family: "sans-serif";*/
}
#noData {
	display: none;
	text-align: center;
	margin-top: 25%;
	font-weight: bold
}

/* ============================= main layout ====================== */
.bx-title {
	/*background: #ffad00;*/
	height: 25px;
	width: 190px;
	margin-left: 12px;
	border-radius: 5px;
	margin-top: -22px;
}
.bx-title p {
	color:black;
	font-family:'BebasNeueRegular'; 
	font-size:20px; 
	padding: 4px; 
}

/*==============*/
#tabs{
  overflow: hidden;
  width: 100%;
  margin-top: 5px;
  margin-left: 4px;
  padding: 0;
  list-style: none;
  /*box-shadow: 5px 5px 5px black;*/
}

#tabs li{
  float: left;
  width:95px;
  margin: 0 11px 0 0;
}

#tabs a{
  position: relative;
  width:95px;
  background: #ccc;
  /*background-image: linear-gradient(to bottom, #fff, #ddd);  */
  padding: 10px 5px;
  float: left;
  font-size: 15px;
  /*font-weight: bold;*/
  font-family:'BebasNeueRegular';
  text-decoration: none;
  color: black;
  /*text-shadow: 0 1px 0 rgba(255,255,255,.8);*/
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{
  background: #ffad00;
  width:95px;
}

#tabs a:focus{
  outline: 0;
  width:95px;
}

/*#tabs a::after{
  position:relative;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 95px;
  background: #ffad00;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}
*/
#tabs li a.current ,
#tabs .current a::after{
  background: #ffad00;
  width:95px;
  z-index: 3;
}

#tabs li a.currentC ,
#tabs .currentC a::after{
  background: #ffad00;
  width:95px;
  z-index: 3;
}
#contentE
{
    /*background: #fff;*/
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
	background: rgba(0, 0, 0, 1);
    padding: 3px;
    width:95%;
    margin-left: 3px;
    top: -11px;
    height: 330px;
    position: relative;
    font-family: sans-serif !important;
    z-index: 2;	
    border-radius: 5px 5px 5px 5px;
    /*box-shadow: 4px 2px 1px black;*/
}
#contentC
{
    /*background: #fff;*/
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
	background: rgba(0, 0, 0, 1);
    padding: 3px;
    width:95%;
    margin-left: 3px;
    top: -11px;
    height: 330px;
    position: relative;
    z-index: 2;	
    font-family: sans-serif !important;
    border-radius: 5px 5px 5px 5px;
    /*box-shadow: 4px 2px 1px black;*/
}
#pic {
	padding: 15px;
	width: 90%;
	background-color: red;
	height: 180px;
}


/* Let's get this party started */
/*::-webkit-scrollbar {
    width: 12px;
}
*/ 
/* Track */
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}*/
 
/* Handle */
/*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(255,173,0); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/
/*::-webkit-scrollbar-thumb:window-inactive {
	background: rgbargb(255,173,0); 
}
*/
.sc_menu {
  position: relative;   
  height: 310px;
  /* Make bigger than a photo, because we need a place for a scrollbar. */
  width: 200px;
  display: none;
  margin-top: 5px;
  margin-left: 5px;
  overflow: auto;
}

.sc_menu a {
  display: block;
  margin-bottom: 5px;
  width: 175px;
  height: 60px;  
  border: 3px rgb(79, 79, 79) solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
  
  /* When image support is turned off */
  color: #fff;
  background: rgb(79, 79, 79);  
}
.sc_menu p{
  color: white;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  margin-left: 74px;
  margin-top: -40px;
  text-transform: uppercase;
}
.sc_menu a:hover {
  border-color: rgb(130, 130, 130);
  border-style: dotted;
}
.sc_menu img {
  display: block;
  border: 2px rgb(79, 79, 79) solid;
  /*-webkit-border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  box-shadow: 1px 1px 10px 1px lightyellow;
  width: 60px;
  height: 50px;
  margin-left: 2px;
  margin-top: 2px;
}

.sc_menu_wrapper .loading {
  position: absolute;
  top: 50px;
  left: 10px;
  
  margin: 0 auto;
  padding: 10px;

  width: 100px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;  
  
  text-align: center;
  color: #fff;
  border: 1px solid rgb(79, 79, 79);
  background: #1F1D1D;
}
/* Styling tooltip */
.sc_menu_tooltip {
  display: block;
  position: absolute;
  
  padding: 6px;
  font-size: 12px;  
  color: #fff;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;  
  
  border: 1px solid rgb(79, 79, 79);
  background: rgb(0, 0, 0);
  /* Make background a bit transparent for browsers that support rgba */  
  background: rgba(0, 0, 0, 0.5);
}

/*==================*/

#content { 
	display: block;
	position:absolute; 
	left:-35px; 
	top:95px; /*164*/
	z-index:10;
}

#content > ul { }
#content > ul > li  {
	display: block;
	width:985px; 
	height:435px; /*350*/ 
	/*background:url(../images/content_bg.png) 0 0 no-repeat;*/
	/*background: url(../images/grass.jpg) no-repeat; */
	/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(left, #FFFFFF 0%, #EBEBEB 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #FFFFFF 0%, #EBEBEB 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #FFFFFF 0%, #EBEBEB 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #EBEBEB));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #EBEBEB 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to right, #FFFFFF 0%, #EBEBEB 100%);
	position:absolute;
}

.leftbox { 
	display: inline-block; 
	height:auto;
	width:auto; 
	position:absolute; 
	left:788px; 
	top:-50px; 
	z-index:2; 
	background:whitesmoke; 
	border: 2px rgb(79, 79, 79) solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;  
	white-space:nowrap; 
	text-decoration:none;
}
.leftbox .leftover { 
	display:block;
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0; 
	z-index:1; 
	background:#ffad00;
}

.leftbox .x1 { 
	display:block; 
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0; 
	z-index:0; 
	/*background: url(../images/close.png) right center no-repeat; */
}
.leftbox .txt1 { 
	display:block; 
	position:relative; 
	z-index:3; 
	font-family:'BebasNeueRegular'; 
	font-size:18px; 
	line-height:22px; 
	color:#000; 
	text-decoration:none; 
	text-transform:uppercase; 
	padding:0 20px 0 15px; 
}
/* ================= In Graph ================ */

.total-box { 
	display: none;
	border-radius: 10px;
	height: 115px;
	width: 173px;
	position: absolute;
	box-shadow: 2px 2px 8px grey;
	margin-top: 12px;
	margin-left: 7px;
	z-index: 2;
	background: whitesmoke; 
	/*background:#ffad00;*/
	/*background: url(../images/green.jpg) no-repeat; */
}
.total-box p, .builProfile p{
	padding:2px 5px;
	/*width: 100%;*/
	/*height: 100%;*/
	font-family:'ChantelliAntiquaRegular';
	text-align: center;
	/*text-transform:lowercase; */
	color: black;
	margin-top: -0.2em;
	/*font-size: 13px;*/
}
#head {
	background-color: #ffad00;
	font-weight: bold;
	font-size: 10px;
}
#num1, #num2 {
	display: block;
	text-align: center;
	margin-left: 5px;
	font-size: 16px;
	margin-top: -10px;
	font-weight: bold;
	font-family: monospace;
}

#kwh, #ghg {
	font-weight: bold;
	/*margin-left: 10px;*/
	/*margin-top: 5px;*/
	font-size: 12px;
	color: black;
}

.builProfile { 
	display: none;
	border-radius: 10px;
	height: 115px;
	width: 173px;
	position: absolute;
	box-shadow: 2px 2px 8px grey;
	margin-top: 133px;
	margin-left: 7px;
	z-index: 2;
	background: whitesmoke; 
	/*background:#ffad00;*/
	/*background: url(../images/ghg.jpg) no-repeat;*/
}
.ghg-box p{
	padding:2px 5px;
	/*width: 100%;*/
	/*height: 100%;*/
	font-family:'ChantelliAntiquaRegular';
	text-align: center;
	/*text-transform:lowercase; */
	color: black;
	margin-top: -0.2em;
	font-size: 13px;
}
#info {
	/*font-weight: bold;*/
	text-align: left;
	margin-top: -10px;
	font-size: 12px;
}
/*#num2 {
	display: block;
	text-align: center;
	font-size: 21px; 
	font-weight: bold; 
	font-family: monospace; 
}*/
.graph-name { 
	display: none;
	opacity: 0.9;
	border-radius:5px;
	/*box-shadow: -2px -2px 3px 3px grey;*/
	height:30px;
	width:auto; 
	position:absolute; 
	left:420px; 
	top:15px; 
	z-index:2; 
	background: black;
}
.graph-name p{
	display: none;
	/*font-weight: bold;*/
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 3px;
	font-family:'BebasNeueRegular';
	text-transform:uppercase; 
	color: white;
	line-height:28px;
	text-decoration:none;
	/*background-color: white;*/
	font-size: 22px;
}
#container {
	margin-left: -8px;
	/*margin-top: 3px;*/
}

.midBox {
	display: none;
	width: 640px;
	height: 415px;
	margin-left: 211px;
	margin-top: -30px;
	border-radius:5px;
	box-shadow: 0px 2px 5px 3px black;
	/*background: url(../images/buttom.jpg) bottom no-repeat;*/
}
.midBox img {
	display: none;
	margin-top: 10px;
	margin-left: 30px;
	width: 580px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 3px black;
}
#campus {
	opacity: 0;
	/*position: relative;*/
	margin-top: -250px;
	margin-left: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 3px black;
	width: 200px;
	height: 150px;
	background: url(../images/left-top.jpg) no-repeat;
}
#campus p {
	margin-left: 5px;
	font-weight: bold;
}

#s1 {
	margin-top: -10px;
	margin-left: -20px;
	position: relative;
}
.pics { height: 232px; width: 232px; padding:0; margin:0; overflow: hidden }
.pics img { height: 200px; width: 200px; /*padding: 15px;*/ border: 10px solid #ccc; background-color: #eee; top:0; left:0 }
/* ================= butttons ================ */
#buttons{
	width: 555px;
	height: 35px;
	background: whitesmoke;
	margin-left: -3px;
	border-radius: 3px;
	margin-top: -5px;
	/*background: black;*/
	box-shadow: 2px 2px 5px grey;
}
#buttons p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	font-weight: bold;
}
#switch {
	position: absolute;
	/*margin-left: 100px;*/
	/*margin-top: -30px;*/
}

#today, #yesterday, #week, #month, #year {
	font-weight: bold;
	margin-left: 8px;
	margin-top: 5px;
	color: black;
	font-size: 10px;
}
.pri {
	width:20;
	height: 40px;
	background-color:blue;
}
#buttons-extra{
	width: 120px;
	height: 35px;
	margin-left: 35px;
	margin-top: 74px;
	background: black;
	border-radius: 3px;
	/*box-shadow: 2px 2px 5px grey;	*/
}

/*#list1 {
	display: inline-block !important;
	margin-left: 10px;
	margin-top: 5px;
}
#list1 .dd-select
{
	display: inline-block !important;
}
#list2 {
	display: inline-block !important;
	margin-left: 10px;
	margin-top: 5px;
}
#list2 .dd-select
{
	display: inline-block !important;
}*/

.ui-tooltip {
    /*padding: 10px 20px;*/
    color: white;
    border-radius: 10px;
    font: small "Helvetica Neue", Sans-Serif !important;
    /*text-transform: uppercase;*/
    box-shadow: 0 0 7px black;
  }

/* ================= navigation ================= */
.ui-menu { 
	width: 150px;
	height: 150px; 
}
/* ================= tooltip ================= */
#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:10px;
    width:180px;    
}
 
#tooltip .tipHeader {
    height:8px;
    background:url(../images/tipHeader.gif) no-repeat;
}
 
/* IE hack */
*html #tooltip .tipHeader {margin-bottom:-6px;}
 
#tooltip .tipBody {
    background-color:#000;
    padding:5px 5px 5px 15px;
}
 
#tooltip .tipFooter {
    height:8px;
    background:url(../images/tipFooter.gif) no-repeat;
}
/*=====================================================*/

.close { 
	display: inline-block; 
	height:39px; 
	position:absolute; 
	right:5px; 
	top:-25px; 
	z-index:2; 
	background:#ffad00; 
	white-space:nowrap; 
	text-decoration:none;
}
.close .over { 
	display:block; 
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0; 
	z-index:1; 
	background:#abc127; 
}
.close .x1 { 
	display:block; 
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0; 
	z-index:2; 
	background: url(../images/close.png) right center no-repeat; 
}
.close .txt1 { 
	display:block; 
	position:relative; 
	z-index:3; 
	font-family:'BebasNeueRegular'; 
	font-size:22px; 
	line-height:39px; 
	color:#000; 
	text-decoration:none; 
	text-transform:uppercase; 
	padding:0 40px 0 15px; 
}


.box { 
	width:1000px;
	height:400px; 
	position:relative; 
	z-index:1; 
	padding:40px 42px 0 43px; 
	overflow:hidden;

}

.el {
	display: none;
	/*position:relative;*/
	width: 754px;
	height: 415px;
	margin-left: 182px;
	margin-top: -30px; 
	/*padding:40px 42px 0 43px; */
	border-radius:3px;
	box-shadow: 0px 2px 5px 3px black;
	background: white; 
}
.col0,.col1,.col1E, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12   { float:left;}

.col0 { 
	width:1px; 
	height:350px; 
	background: url(../images/col0.png) 0 0 repeat-y; 
	/*margin-left:60px; */
	/*margin-right:0px; */
	margin-top:-45px;
}


.col1E{ 
	width:220px;
	height: 415px;
	margin-left: -37px;
	margin-top: -30px;
	background: white;
	box-shadow: 0px 2px 5px 3px black;
	border-radius: 5px;
	/*background-color: rgba(0, 0, 0, 1);
	background: rgba(0, 0, 0, 1);*/
}
.col1{ 
    width:250px; 
    /*margin-left:10px;*/
}
.col2{ 
    width:550px; 
    margin-left:10px;
}
.col3{ 
	width: 185px;
	height: 315px;
	margin-top: -25px;
	margin-left: 5px;
	border-radius: 5px;
	/*background: white;*/

	/*width:170px;
	height: 300px; 
	margin-top: -10px;
	margin-left: 0px;*/
	/*background: url(../images/col3-img1.jpg) 0 0 repeat-y;*/
	/*box-shadow: 2px 2px 5px grey;*/
	/*border-radius: 5px;*/
}
#r-img {
	display: none;
	width: 170px;
	height: 150px;
	margin-top: 5px;
	margin-left: 8px;
	/*margin-left: -7px;*/
	box-shadow: 0px 2px 5px 3px black;
}
.col4{ width:600px;}
.col5{ width:240px;}
.col6{ width:620px;}
.col7{ width:220px;}
.col8{ width:290px;}
.col9{ width:420px;}




.pad_left1{ padding-left:10px;}
.pad_left2{ padding-left:20px;}
.pad_left3{ padding-left:30px;}
.pad_left4{ padding-left:40px;}
.pad_left5{ padding-left:50px;}
.pad_left6{ padding-left:60px;}




a{ color:#698c0f; text-decoration: underline; outline:none}
a:hover{ text-decoration: none}

h2{ font-family:'BebasNeueRegular';font-weight:normal; font-size:24px; color:#000; line-height:24px; padding:0px 0 25px 0;  }
h3{ display:block; font-size:12px; color:#ffad00; line-height:20px; text-transform:uppercase;}


.upper { text-transform:uppercase;}

.color1{ color:#637616;}


.text { padding:0 0 5px; display:block;}

.line1 { height:1px; background: url(../images/line1_px.png) 0 0 repeat-x; margin:15px 0;}

.radius1{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}


.img1 {margin-bottom:20px;margin-right:20px;}
.img2 {margin-right:20px; }
.img3 {margin-bottom:20px;}

.button1{ display:inline-block; height:18px; line-height:18px;  position:relative; text-decoration:none; margin-top:10px; margin-bottom:10px; font-size:18px; font-family:'BebasNeueRegular'; color:#3d5006; text-transform:uppercase; white-space:nowrap; letter-spacing:0px; background:url(../images/button1.png) 0 2px no-repeat; padding-left:15px;}
.button1:hover { color:#ffad00;}

.time1{ width:43px; height:43px;border-radius:43px; -moz-border-radius:43px; -webkit-border-radius:43px; background:#ffad00; text-align:center; font-family:'BebasNeueRegular'; font-size:24px; color:#000; line-height:27px; margin-right:20px;}
.time1 span{ font-family:Arial, Helvetica, sans-serif; font-size:10px; text-transform:uppercase; line-height:10px;}

.ul1 > li { line-height:30px; background:url(../images/li_line1.png) 0 0 repeat-x;}
.ul1 > li:first-child{ background:none;}
.ul1 > li a{ display:block; text-decoration:none; color:#637616; font-weight:bold; text-transform:uppercase; background:url(../images/li_st1.png) 0 10px no-repeat; padding-left:20px;}
.ul1 > li a:hover{ text-decoration:none; color:#ffad00; background:url(../images/li_st1_over.png) 0 10px no-repeat;}

.gal1 { width:258px; padding-bottom:25px; float:left; margin-right:50px; }
.gal1.last { margin-right:0px; }

.photo1 {width:248px; height:146px;margin-bottom:25px;}
.photo1 a img {border:5px solid #fff;}
.photo1 a:hover img {border:5px solid #ffad00;}


.google_map{

	width: 420px;
	height: 260px;
	border-radius:0px;
	background: #fff;
	position:relative;
	overflow:hidden; margin-bottom:20px;
}

/*===================== jScrollPane =====================*/

.scroll-pane{width: 100%; height:380px; overflow: auto;}



/* Generated by Font Squirrel (http://www.fontsquirrel.com)  */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue-webfont.woff') format('woff'),
         url('bebasneue-webfont.ttf') format('truetype'),
         url('bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


label {
	position: absolute;
	margin-left: 25px;
	margin-top: -22px;
}

.col1C {
	width:220px;
	height: 415px;
	margin-left: -37px;
	margin-top: -50px;
	background: white;
	box-shadow: 0px 2px 5px 3px black;
	border-radius: 5px;
}

.col2C {
	width: 740px;
	height: 330px;
	margin-left: 190px;
	margin-top: -420px;
}

.sc_menuC {
  position: relative;   
  height: 310px;
  /* Make bigger than a photo, because we need a place for a scrollbar. */
  width: 200px;
  display: none;
  margin-top: 5px;
  margin-left: 5px;
  overflow: auto;
}

.sc_menuC a {
  display: block;
  margin-bottom: 5px;
  width: 175px;
  height: 60px;  
  border: 3px rgb(79, 79, 79) solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
  
  /* When image support is turned off */
  color: #fff;
  background: rgb(79, 79, 79);  
}

.inActive {
	opacity: 0.5;
}

.sc_menuC p{
  color: white;
  width: 105px;
  text-align: center;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  /*margin-left: 2px;*/
  margin-top: -1px;
  text-transform: uppercase;
}
.sc_menuC a:hover {
  border-color: rgb(130, 130, 130);
  border-style: dotted;
}
.sc_menuC img {
  display: block;
  border: 2px rgb(79, 79, 79) solid;
  /*-webkit-border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  box-shadow: 1px 1px 10px 1px lightyellow;
  width: 60px;
  height: 50px;
  margin-left: 110px;
  margin-top: 2px;
}
div.icheckbox_square-green{
	margin-top: 5px;
	margin-left: 40px;
}